.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(18, 18, 18, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.spinner-image {
    width: 48px;
    height: 48px;
}